@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  .product-image {
    width: 100%;
    height: auto; /* Ensures the image maintains its aspect ratio */
    max-height: 160px; /* Adjust based on your design */
    object-fit: contain; /* Ensures the full image is visible without cropping */
    border-radius: 8px; /* Optional: Keeps rounded corners */
}
  

@tailwind base;
@tailwind components;
@tailwind utilities;